<div *ngIf="tracks && tracks.length > 0; else noTracks">
  <table class="table table-hover mt-3" style="width: 100%;">
    <thead>
    <tr>
      <th>#</th>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Length (min.)</th>
      <th style="text-align: center">Artist</th>
      <th style="text-align: center">Album</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr *ngFor="let x of tracks">
      <th>{{x.id}}</th>
      <td class="float" style="text-align: center">{{x.trackName}}</td>
      <td class="float" style="text-align: center">{{x.trackLength}}</td>
      <td class="float" style="text-align: center">{{x.artistName}}</td>
      <td class="float" style="text-align: center">{{x.albumName}}</td>
      <td class="float" style="text-align: center"><button class="btn btn-outline-primary">Add to playlist</button></td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noTracks>
  <p *ngIf="!tracks">Loading tracks...</p>
  <p *ngIf="tracks && tracks.length === 0">There are no tracks available</p><br>
</ng-template>
