<div *ngIf="track" class="modal-overlay">
  <div class="edit-form">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="trackName">Track name:</label>
        <input type="text" class="form-control" id="trackName" formControlName="trackName">
      </div>
      <div class="form-group">
        <label for="trackLength">Track length:</label>
        <input type="text" class="form-control" id="trackLength" formControlName="trackLength">
      </div>
      <button type="button" class="btn btn-primary" (click)="updateTrack()">Update Track</button>
      <button type="button" class="btn btn-danger" (click)="closeForm()">Close</button>
    </form>
  </div>
</div>
