<table class="table table-hover" style="width: 75%;">
  <thead>
  <tr>
    <th>#</th>
    <th style="text-align: center">Name</th>
    <th style="text-align: center">About artist</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody class="table-success">
  <tr *ngFor="let x of artists">
    <th>{{x.id}}</th>
    <td class="float" style="text-align: center">{{x.artistName}}</td>
    <td class="float" style="text-align: center">{{x.artistDescription}}</td>
    <td><button (click)="artistDetails(x)" class="btn btn-warning float-end me-4">Artist details</button></td>
    <td><button (click)="deleteArtist(x.id)" class="btn btn-danger float-end me-4">Delete</button></td>

  </tr>
  </tbody>
</table><br>

<button (click)="createTemplateArtist()" class="btn btn-success">Create template artist</button>
