<div class="d-flex mb-4 message-buttons">
  <div id="buttons" class="btn-group" name="container">
    <button
      class="btn btn-outline-dark text-light"
      btnRadio="Unread"
      [(ngModel)]="containter"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope"></i> Unread
    </button>
    <button
      class="btn btn-outline-dark text-light"
      btnRadio="Inbox"
      [(ngModel)]="containter"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope-open"></i> Inbox
    </button>
    <button
      class="btn btn-outline-dark text-light"
      btnRadio="Outbox"
      [(ngModel)]="containter"
      (click)="loadMessages()"
    >
      <i class="fa fa-paper-plane"></i> Outbox
    </button>
  </div>
</div>

<div class="row" *ngIf="!messages || messages?.length === 0">
  <p style="color: #ffffff; font-size: large">No new messages!</p>
</div>

<br>

<div class="row" *ngIf="messages && messages?.length > 0">
  <div class="message-item" *ngFor="let message of messages" (click)="navigateToChat(message)">
    <div class="message-content mt-2">{{ message.content }}</div>
    <div class="message-from-to">
      <div *ngIf="containter === 'Outbox'">
        <img
          class="img-circle rounded-circle me-2"
          src="{{ message.recipientPhotoUrl || './assets/user.png' }}"
          alt="{{ message.recipientUsername }}"
        />
        <strong>{{ message.recipientUsername | titlecase }}</strong>
      </div>
      <div *ngIf="containter !== 'Outbox'">
        <img
          class="img-circle rounded-circle me-2"
          src="{{ message.senderPhotoUrl || './assets/user.png' }}"
          alt="{{ message.senderUsername }}"
        />
        <strong>{{ message.senderUsername | titlecase }}</strong>
      </div>
    </div>
    <div class="message-sent-received mt-2">{{ message.messageSent | timeago }}</div>
    <div class="message-delete">
      <button
        (click)="$event.stopPropagation(); deleteMessage(message.id)"
        class="btn d-flex justify-content-center mt-2"
      ><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center" *ngIf="pagination && !loading && messages.length > 5">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>
