<div class="container text-center d-flex flex-column justify-content-center align-items-center">
    <div *ngIf="!registerMode">
      <h1>Welcome to .musicLibrary, where the magic of music comes to life!</h1><br>
      <h3>Embark on a musical journey with .musicLibrary!</h3><br>
      <h3>Explore a vast collection of songs, create playlists, and connect with music enthusiasts.</h3><br>
      <h3>Whether you're a die-hard fan or seeking inspiration, our user-friendly app awaits you.</h3><br>
      <h3>Start your rhythmic adventure now!</h3>
      <br><br><br>
      <h3>Create a new profile or log in to an existing one!</h3>
    <button (click)="registerToggle()" class="btn mt-3">Register</button>
    </div>

    <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  </div>

