<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="{{'./assets/user.png'}}" alt="{{artist?.artistName}}"
           class="card-img-top img-thumbnail">
      <div class="card-body">
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button (click)="editArtist(artist)" class="btn btn-success">Edit artist</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="artist-tabset" #artistTabs>
      <tab heading="About" (selectTab)="onTabActivated($event)">
        <br>
        <p>{{artist?.artistDescription}}</p>
      </tab>
      <tab heading="Albums" (selectTab)="onTabActivated($event)">
        <br>
        <app-albums [artist]="artist"></app-albums>
      </tab>
      <tab heading="Photos" (selectTab)="onTabActivated($event)">
        <br>
        images will go here
      </tab>
    </tabset>
  </div>
</div>
