<div class="row" *ngIf="members && members.length > 0; else noMembers">
    <div *ngFor="let member of members" class="col-2">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
  <ng-template #noMembers>
    <p>There are no other members (for now). Welcome!</p>
  </ng-template>

  <div class="d-flex justify-content-center" *ngIf="members && members.length > 0">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>

