<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand me-5">.musicLibrary</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/members"
             [routerLonkActiveOptions]="{exact: true}"
             >Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/messages"
             >Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5"
             routerLink="/user-playlist"
          >Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/track-list"
             >Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/artists"
             >Artists</a>
        </li>
      </ng-container>
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <img src="{{user.photoUrl || './assets/user.png'}}"
           alt="{{user.username}}">
      <a class="dropdown-toggle text-light ms-3 text-decoration-none" dropdownToggle>Welcome, {{user.knownAs | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="!(accountService.currentUser$ | async)"
          #loginForm="ngForm"
          class="d-flex"
          (ngSubmit)="login()"
          autocomplete="off">
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="search"
        placeholder="Username">
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password">
      <button class="btn" type="submit">Login</button>
    </form>
  </div>
</nav>
