.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  display: inline;
}

a.nav-link {
  color: #ffffff;
}

a.navbar-brand.me-5 {
  color: #ffffff;
}

.btn{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border:  1px solid #ffffff40;
}
.btn:hover{
  background-color: #ffffff40;
}
