<app-track-edit *ngIf="showEditForm" [track]="selectedTrack" (trackUpdated)="updateTrack($event)" (closeEditForm)="closeEditForm()"></app-track-edit>
<div *ngIf="tracks && tracks.length > 0; else noTracks">
  <h4><strong>{{tracks[0]?.albumName}}</strong></h4>
  <div class="container text-center">
    <div class="track-list">
      <div class="track-header d-flex justify-content-between">
        <div class="align-items-center">Name</div>
        <div class="align-items-center">Length (min.)</div>
        <div class="align-items-center">Artist</div>
        <div class="align-items-center">Album</div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div *ngFor="let x of tracks" class="track-item d-flex justify-content-between">
        <div class="align-items-center">{{x.trackName}}</div>
        <div class="align-items-center">{{x.trackLength}}</div>
        <div class="align-items-center">{{x.artistName}}</div>
        <div class="align-items-center">{{x.albumName}}</div>
        <div class="align-items-center"><button class="btn"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
        <div class="align-items-center"><button class="btn" (click)="editTrack(x)"><i class="fa fa-pencil" aria-hidden="true"></i></button></div>
        <div class="align-items-center"><button class="btn" (click)="deleteTrack(x)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
      </div>
    </div>
  </div>
  <br><button class="btn" (click)="crateTemplateTrack()">Create new track</button>
</div>

<ng-template #noTracks>
  <p *ngIf="tracks && tracks.length === 0">There are no tracks on this album</p><br>
  <button class="btn btn-success" (click)="crateTemplateTrack()">Create new track</button>
</ng-template>

