.card {
  border: none;
}

.char {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #B3A9A9;
  margin-right: 10px;
}

.rounded-circle {
  max-height: 50px;
}

ul {
  list-style: none;
}

.fa, span, p {
  color: white;
}

.btn{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border:  2px solid white;
}
.btn:hover{
  background-color: #ffffff40;
}

div.card-footer {
  background-color: rgba(87,101,114);
  border: 1px solid white;
}

div.card-body {
  background-color: rgba(87,101,114);
}
