<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{artist?.photoUrl || './assets/user.png'}}" class="card-img-top">
    <ul class="list-inline member-icons animate text-center">
      <p style="color: white">{{artist.artistName}}</p>
      <li class="list-inline-item">
        <button routerLink="/artist-detail/{{artist.id}}" class="btn"><i class="fa fa-user"></i></button>
      </li>
      <li class="list-inline-item">
        <button (click)="deleteArtist(artist.id)" class="btn"><i class="fa fa-times" aria-hidden="true"></i></button>
      </li>
    </ul>
  </div>
</div>

