img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}

.btn{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border:  1px solid #ffffff40;
}
.btn:hover{
  background-color: #ffffff40;
}

h3, p {
  color: white;
}


