.btn, .btn-del {
  color: #fff;
  text-decoration: none;
  border: 2px solid #ffffff40;
  transition: background-color 0.3s; /* Add a transition for a smoother hover effect */
}

.btn, .btn-del:hover {
  background-color: #ffffff40;
}

.btn {
  font-size: 18px;
  padding: 10px 15px;
}

.btn-del {
  font-size: 12px;
  padding: 5px 10px;
  background-color: rgba(9, 50, 79);
}

.container {
  display: flex;
  background-color: rgba(9, 50, 79, 0.6);
  color: #fff;
  padding: 20px;
}

.left-column {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.right-column {
  flex: 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.playlist-item, .track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(9, 50, 79, 0.6);
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.playlist-item:hover, .track-item:hover {
  background-color: #ffffff40;
}

p {
  color: white;
  font-size: large;
}

div.playlist-item {
  color: #ffffff;
}

.playlist-details {
  margin-bottom: 40px;
}

.track-list {
  margin-top: 20px;
}

.track-header, .track-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: rgba(9, 50, 79, 0.6);
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.track-header {
  border-bottom: 2px solid #ffffff;
}

.track-header > div, .track-item > div {
  flex: 1;
  margin-right: 10px;
}

.left-column .playlist-item i {
  vertical-align: middle;
}

